html, body{
    scroll-behavior: smooth;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.squares > div > div {
    width: 30%;
    aspect-ratio: 1;
    margin: 5px;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#graphic{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: background-color 0.15s ease;
}